*{margin: 0;padding: 0;}
.card-container{
    border: 1px;
    background-color: rgb(211, 223, 221);
    display: flexbox;
    width: 20rem;
    margin: 5px;
    height: 300px;
    float: left;
    border-radius: 10px;
}
.card-number_card-circle_subtle{
    float: left;
    margin: 10px;
    border: 1px solid;
    background-color: rgba(204, 167, 167, 0.788);
    border-radius: 50%;
    padding: 10px;

}
.image{
height: 180px;
width: 320px;
}
.btn{
    padding: 5px;
    background-color:wheat;
    font-size: large;
    border: whitesmoke;
    margin: 5px;

}
.btn-group{
    width: 380px;
    border:1px solid wheat;
    background-color: wheat;
    padding: 5px;
    border-radius: 15px;
    
}
.btn:hover{
    color: blueviolet;
    border-bottom: 3px solid blueviolet;
    border-radius:5px ;
    
}